Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

DerivePointerAlignment: true

PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve


---
Language: Proto
BasedOnStyle: Google
