on:
  push:
    branches:
      - main
  pull_request:
    types: [ assigned, opened, synchronize, reopened, labeled ]
jobs:
  linux_build:
    runs-on: ubuntu-latest
    steps:
      - uses: bazelbuild/setup-bazelisk@v2
      - run: bazel build --cxxopt=-std=c++20 //snova/app:snova-local
      - run: bazel build --cxxopt=-std=c++20 //snova/app:snova-remote